.button{
	display: inline-block;
	a{
		padding: 0.4em 1.75em;
		text-transform: uppercase;
		font-size: 16px;
		color: $black;
		background-color: $white;
		transition: all 300ms ease-out;
		display: inline-block;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15), 0 6px 15px rgba(0,0,0,0.15);
		text-align: center;
		min-width: 150px;
		white-space: nowrap;
		font-family: $alt-font;
		&:hover{
			background-color: $black;
			color: $white;
		}
	}
}
.border-button{
	a{
		border: 2px solid currentColor;
		background-color: transparent;
	}
	&.base{
		a{
			border-color: $base;
			color: $white;
			&:hover{
				background-color: $base;
			}
		}
	}
	&.comp{
		a{
			border-color: $comp;
			color: $white;
			&:hover{
				background-color: $comp;
				color: $white;
				text-shadow: none;
			}
		}
	}
	&.white{
		a{
			border-color: $white;
			color: $white;
			&:hover{
				background-color: $white;
				color: $black;
				text-shadow: none;
			}
		}
	}
}
.solid-button{
	a{
		border: none;
	}
	&.base{
		a{
			background-color: $base;
			color: $white;
			&:hover{
				background-color: darken($base, 10%);
			}
		}
	}
	&.comp{
		a{
			background-color: $comp;
			color: $white;
			&:hover{
				background-color: darken($comp, 10%);
				color: $white;
				text-shadow: none;
			}
		}
	}
	&.white{
		a{
			background-color: $white;
			color: $base;
			&:hover{
				background-color: darken($white, 20%);
				color: $base;
				text-shadow: none;
			}
		}
	}
	&.grad{
		&::before{
			content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    opacity: 0;
		    transition: opacity 400ms ease-out;
		    background-color: $base-light;
		    background-image: linear-gradient(to right, #{$base},#{$base-light});
		}
		&::after{
			content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    opacity: 1;
		    transition: opacity 400ms ease-out;
		    background-color: $base;
		    background-image: linear-gradient(to right, #{$base-light},#{$base});
		}
		a{
			//background-image: linear-gradient(to right, #{$base-light},#{$base});
			background-color: transparent;
			color: #fff;
			position: relative;
			z-index: 3;
			&:hover{
				//background-color: darken($white, 20%);
				color: #fff;
				text-shadow: none;
			}
		}
		&:hover{
			&::before{
				opacity: 1;
			}
			&::after{
				opacity: 0;
			}
		}
		&.grad-dark{
			&::before{
				background-color: $base;
		    	background-image: linear-gradient(to right, #005865, #00808c);
			}
			&::after{
				background-color: $base-dark;
		    	background-image: linear-gradient(to right, #00808c, #005865);
			}
		}
	}
}
